# API
PORT=4000
NODE_ENV=development
JWT_SECRET=troque-esta-chave

# BANCO DE DADOS (MySQL)
DATABASE_URL="mysql://usuario:senha@localhost:3306/spd_prefeitura"

# FRONTEND
VITE_API_URL=http://localhost:4000
