# API
NODE_ENV=development
PORT=4000
JWT_SECRET=sua_chave_secreta_aqui

# BANCO DE DADOS (MySQL) - usado pelo Prisma
DATABASE_URL="mysql://spd_user:spd_pass@localhost:3306/spd_gerencia"

# DOCKER - Credenciais MySQL (usadas pelo docker-compose)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=spd_gerencia
MYSQL_USER=spd_user
MYSQL_PASSWORD=spd_pass
MYSQL_PORT=3306

# FRONTEND
VITE_API_URL=http://localhost:4000
FRONTEND_URL=http://localhost
