# BACKEND (apps/api)
NODE_ENV=development
PORT=4000
JWT_SECRET=sua_chave_secreta_aqui
DATABASE_URL=mongodb://localhost:27017/spd-gerencia

# DATABASE (packages/db) - usa esta variável
MONGODB_URI=mongodb://localhost:27017/spd-gerencia

# FRONTEND (apps/web)
VITE_API_URL=http://localhost:4000a